{
	"printhWidth": 100,
	"parser": "babylon",
	"tabWidth": 2,
	"singleQuote": true,
	"semi": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"requirePragma": false,
	"proseWrap": "preserve"
}