* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;

  /*CUSTOM FOR TESTING*/
  padding: 30px;
  background-image: url(./assets/react_npm.png), linear-gradient(to bottom right, #26d0ce, #1a2980);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
}

a:visited,
a:hover,
a:active,
a:link {
  color: #fff;
  text-decoration: none;
}
